body {
  background-color: aquamarine;
  background-size: cover;
}

h1 {
  text-align: center;
}

#image-el{
    border-radius: 20px;
}

#img-select-container{
    display: flex 1 ;
    gap: 60px;
}

