body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 360px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #014b75;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    align-items: center;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 360px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0 10px;
    text-align: center;
    
}

@media screen and(max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: none;
    border-color: #818181;
}

#input-title-el {
    margin-bottom: 45px;
    margin-left: 13px;
    color: #f1f1f1;
    
}

#input-author-el {
    margin-bottom: 45px;
    margin-left: 10px;
    color: #f1f1f1;
}

#input-pages-el {
    margin-bottom: 45px;
    margin-left: 10px;
    color: #f1f1f1;
}

#add-book-btn{
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color:aliceblue;
  border-radius: 10px;
  align-items: center;
  background-color: rgb(5, 194, 131);
  margin-top: 45px;
  padding-left: 100px;
  padding-right: 100px
}

#checkbox-el{
  color: #f1f1f1;
  margin-left: 10px;
}
 

#question{
  color:#f1f1f1;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: initial;
  margin-bottom: 50px;
  margin-left: 10px;
 }

 #l-title{
  color: #f1f1f1;
  margin-left: 10px ;
 }

 table{
  font-size: larger;
  font-weight: bolder;
 }
 
